.navbar {
  background-color: #F3F0EA;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 4.5rem 2rem;
  position: relative; /* importante para posicionar el logo */
  z-index: 999;
  width: 97%;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-link {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: #000;
  font-family: 'Helvetica', sans-serif;
  transition: color 0.3s ease, transform 0.3s ease;
}

.nav-link:hover {
  color: #bb2649;
  transform: translateY(-2px);
}

/* Logo centrado y sobresaliente hacia abajo */
.logo-container {
  position: absolute;
  left: 50%;
  bottom: -35px; /* sobresale hacia abajo */
  transform: translateX(-50%);
  z-index: 1000;
}

.logo-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.logo-button img {
  height: 215px;
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.logo-button:hover img {
  transform: scale(1.05);
}

/* Responsive */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 1rem;
  }

  .nav-links {
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
  }

  .logo-container {
    position: relative;
    bottom: auto;
    transform: none;
    left: auto;
    margin-top: 1rem;
  }

  .logo-button img {
    height: 80px;
  }
}

